<div class="infobox">
    <img src="https://avatars1.githubusercontent.com/u/196192?v=4">
    <div class="author">Hamid Abouei</div>
    <div class="title">Developer</div>

    <div class="block">
        <label>Created at</label>
        <div class="date">{{.CreatedAt}}</div>
    </div>

    <div class="block">
        <label>Updated at</label>
        <div class="date">{{.UpdatedAt}}</div>
    </div>

    <div class="block">
        <label>Connect</label>
        <div class="socialmedia"><a href="www.twitter.com/hamochis">@github</a></div>
        <div class="socialmedia"><a href="www.linkedin.com/hamidabouei">@linkedIn</a></div>
    </div>

    <div class="block">
        <label>Feedback</label>
        <div class="socialmedia"><a href="mailto:hamochi@gmail.com">@email</a></div>
    </div>
</div>