<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro" rel="stylesheet">
    <link href="{{.Level}}style.css" rel="stylesheet">
    <title>{{.Title }}</title>
</head>
<body>
<div class="container">
    <div class="left">
        <div class="menu">
            <div class="title"><a href="{{.Level}}">Go Notes</a></div>
            {{.Menu}}
        </div>
    </div>
    <div class="content">
        {{.Content}}
    </div>
    <div class="right">
        <<infobox.template.html>>
    </div>
</div>
</body>
</html>