---
---

@import "{{ site.theme }}";
.wrapper {
  width: 1200px;
  section {
    width: 900px;
  }
}
.table_of_content {
  list-style: none;
  li {
    list-style: none;
    ul {
      margin: 0;
      padding: 0 0 0 20px;
    }
  }
}
